(
    // logging
    logging_directive: "info,rust-car-service=trace",

    // http
    address: "localhost",
    port: 80,
    max_payload_size_bytes: 4096,
    graceful_shutdown_timeout_sec: 3,

    // database
    postgres_uri: "postgres://hattie.db.elephantsql.com/emmfovaj?sslmode=require&user=emmfovaj&password=XVnuN0br7UusH_El55gxWHEnkxZ-ZFfq",
    postgres_max_pool_size: 2,
    postgres_min_pool_size: 2,
    postgres_max_life_time_minutes: 10,
    postgres_timeout_sec: 3,

)