(
    address: "localhost",
    port: 9090,
    logging_directive: "info,server=trace,actix_web=debug",
    graceful_shutdown_timeout_sec: 3,
    max_payload_size_bytes: 4096,
    postgres_connection_pool_size: 1,
    postgres_connection_timeout_sec: 1,
    postgres_connection_uri: "postgres://localhost:5432/car_rentals",
)