(
    // logging
    logging_directive: "info",

    // http
    address: "0.0.0.0",
    port: 80,
    max_payload_size_bytes: 4096,
    graceful_shutdown_timeout_sec: 3,

    // database
    postgres_uri_env_var_name: "JAVA_RUST_POSTGRES_URI",
    postgres_max_pool_size: 4,
    postgres_min_pool_size: 4,
    postgres_max_life_time_minutes: 10,
    postgres_timeout_sec: 5,

)